body {
  background-color: #fbfbfb;
  margin: auto;
  width: 50%;
  max-width: 800px;
  min-width: 300px;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: left;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

h1 {
  color: black;
  font-size: 30px;
  font-weight: 400;
}

h2 {
  color: black;
  font-size: 22px;
  font-weight: 400;
  line-height: 15px;
}

.headshot {
  width: 25%;
  min-width: 80px;
}

.block {
  padding-top: 1px;
  padding-bottom: 10px;
}
